<div class="container-fluid">
	<div class="position-relative">
	    <div class="position-fixed bottom-0 start-0" id="button-container">
	        <form action="/v1/language" method="POST">
	            <div class="d-flex flex-column justify-content-center align-items-center">
	              <button class="en-button" type="submit" name="lang" value="en">
	                <span class="button-content" id="enBtn">
	                  <img src="https://i.ibb.co/z2FYJGQ/usFlag.png" width="13" height="13" />
	                  English
	                </span>
	              </button>
	              <button class="ru-button" type="submit" name="lang" value="pr">
	                <span class="button-content" id="frBtn">
	                  <img src="https://i.ibb.co/ChXzXvy/brazil.png" width="13" height="13" /> 
	                  Brasil
	                </span>
	              </button>
	            </div>
	        </form>
	    </div>
	</div>
</div>