<%- include("./includes/head.ejs"); %>

<link rel="stylesheet" href="/style.css">

<body>
	<header></header>

	<div class="loading-spinner" id="loadingSpinner">
	    <img src="https://i.ibb.co/PTLFqC0/cube.png" alt="Your Logo" class="logoSp">
	    <div class="spinner"></div>
	</div>

	<section>
		<div class="container-fluid border-0 p-0 mt-5">
			<div class="row justify-content-center">
		        <div class="col-12 text-center">
		          	<% if(errorMessage) { %>
		            	<div class="alert alert-danger" role="alert"><%= errorMessage %></div>
		          	<% } %>
		        </div>

				<div class="col-12 col-lg-2"></div>

				<div class="col-12 col-lg-8 p-4" id="subForm">
            		<h4 class="text-center">Sign In</h4>
					<form action="/login" method="POST" novalidate>
					  <div class="mb-3">
					    <label for="exampleInputEmail1" class="form-label">Username</label>
					    <input 
					    	type="text" 
					    	class="form-control" 
					    	name="user" 
					    	id="exampleInputEmail1" 
					    	aria-describedby="emailHelp"
                            value="<%= oldInput.email %>" 
					    	required
					    >
					  </div>
					  <div class="mb-3">
					    <label for="exampleInputPassword1" class="form-label">Password</label>
					    <input 
					    	type="password" 
					    	class="form-control" 
					    	name="password" 
					    	id="exampleInputPassword1" 
					    	required
					    >
					  </div>
					  <div class="mb-3">
					  	<button type="submit" class="btn btn-primary">Submit</button>
					  </div>
					</form>
				</div>

				<div class="col-12 col-lg-2"></div>
			</div>
		</div>
	</section>

	<footer></footer>

	<script>
		window.addEventListener('load', function () {
	      // console.log("hii...");
	      // Get the loading spinner element
	      const loadingSpinner = document.getElementById('loadingSpinner');
	        
	      // Hide the loading spinner
	      loadingSpinner.style.display = 'none';
	    });
	</script>

<%- include("./includes/end.ejs"); %>

</body>